

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   background: #eee;
}

#logo{
    z-index: 5;
    position: relative;
    top: -8px;

}

.btn{
    margin-top: 10px;
}

#calendar{
    height:100;
    width: !50%;
    float: left;
}

h5{
   text-align: center;
};
h6{
   text-align: center;
   color: gray;
}

#cronograma{
}









