

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   background: #eee;
}

#logo{
    z-index: 5;
    position: relative;
    top: -8px;

}

.btn{
    margin-top: 10px;
}

#calendar{
    height:100;
}

h4{
   text-align: center;
}









