

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   background: #eee;
}

#logo{
    z-index: 5;
    position: relative;
    top: -8px;

}

.btn{
    margin-top: 10px;
}

#calendar{
    height:100;
    width: !50%;
}

h5{
   text-align: center;
}
h6{
   text-align: center;
   margin: 0;
   color: gray;
}
#agenda div{
margin: 10px auto 10px auto;
width: 95%;
}
#cronograma{
    margin: 10px auto 10px auto;
}









