<% include head.ejs%>
<div class="active container container-fluid" id="agendamento">
            <form action='/agendamento/' method="POST">
                <div class="form-horizontal">
                    <label for="mat" class="col-sm-2 control-label">Matricula</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="matricula" placeholder="Nome" pattern="\d{12}" required="required">
                    </div>
                    <label for="studentName" class="col-sm-2 control-label">Aluno</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="inputName" placeholder="Nome" pattern="[A-Za-zÀ-ú ]+" required="required">
                    </div>                            
                    <label for="workTitle" class="col-sm-2 control-label">Título do Trabalho</label>
                    <div class="col-sm-10"><textarea class="form-control" name="titulo" rows="3" pattern="[A-Za-zÀ-ú ]+" required="required"></textarea>
                    </div>
                    <label for="date" class="col-sm-2 control-label">Data</label>
                    <div class="col-sm-3"><input type="date" class="form-control" name="date" required="required"></div>
                    <label for="time" class="col-sm-3 control-label">Horário</label>
                    <div class="col-sm-3"><input type="time" class="form-control" name="horario" required="required"></div>

                    <label class="col-sm-2 control-label" for="roomNumber">Local</label>
                    <div class="col-sm-4"><input type="text" class="form-control " name="local" placeholder="Numero da Sala" pattern="[1-9]+\d*" required="required"></div>
                    <label for="building" class="col-sm-2 control-label">Prédio</label>
                    <div class="col-sm-4"><input type="text" value="" class="form-control" name="predio" placeholder="Numero do Prédio" pattern="[1-9]+\d*" required="required"></div>
                    <div class="col-sm-2"></div>  <div class="checkbox col-sm-10">
                        <label><input type="checkbox" id="cb-coorientador" value="option1">Coorientador</label>
                    </div>                                             
                    <label for="advisor" class="col-sm-2 control-label">Orientador</label>
                    <div class="col-sm-10">
			<select class="form-control" id="orientador" name="orientador">
                   		<% for (let i=0; i < professor.length; i++){ %>
                  			<option value="<%= professor[i].id %>" ><%= professor[i].nome %></option>
                  		<% } %>
                	</select></div>

                    <div id="box-coorientador" class="hidden">
                        <label class="col-sm-2 control-label ">Coorientador</label>
                        <div class="col-sm-10"><input type="text" class="form-control" name="coorientador" placeholder="Nome" pattern="[A-Za-zÀ-ú ]+"></div>
                    </div>
                    <label for="bank1" class="col-sm-2 control-label">Banca 1</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="banca1" placeholder="Nome" pattern="[A-Za-zÀ-ú ]+" required="required"></div>
                    <label for="bank2" class="col-sm-2 control-label">Banca 2</label>
                    <div class="col-sm-10"><input type="text" class="form-control" name="banca2" placeholder="Nome" pattern="[A-Za-zÀ-ú ]+" required="required"></div>                         
                    <div class="col-sm-10"></div><input class="btn btn-default col-sm-2" type="submit" value="Enviar">
                </div>

            </form>
        </div>
<% include foot.ejs%>
